// hero carousel

@import '../mixins.scss';

.hero-carousel-wrapper,
.hero-carousel-wrapper * {
  $t: 0.5s;
  transition: transform $t, width $t, height $t, margin $t, border-radius $t;
}

.hero-carousel-wrapper {
  position: relative;
  margin-left: -2rem;

  --width: calc(800px + 2rem);
  width: var(--width);

  &.large {
    --width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: calc(-30px + 0.5rem);

    & ul {
      border-radius: 0;
    }

    & .controls-wrapper {
      transform: translateY(-150%);
    }
  }
}

.hero-carousel-wrapper ul {
  list-style: none;
  overflow: hidden;
  display: grid;
  box-shadow: var(--boxShadowBold);
  border-radius: var(--rad2);
}

.hero-carousel-wrapper li {
  grid-area: 1 / 1;
  position: relative;
}

/* prettier-ignore */
.hero-carousel-wrapper li {
  &.behind  { transform: translateY(-100%); }
  &.current { transform: translateY(0);     }
  &.ahead   { transform: translateY(100%);  }
}

.hero-carousel-wrapper img {
  display: block;
  width: 100%;
}

.hero-carousel-wrapper .controls-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

$buttonSize: 40px;
$buttonPadding: 10px;

.hero-carousel-wrapper .controls-wrapper button {
  height: $buttonSize;
  width: $buttonSize;
  border-radius: 50%;
  margin: 0.5rem 0.25rem 0 0.25rem;
  padding: $buttonPadding;

  & > img {
    display: block;
    height: 100%;

    &.chev {
      padding: 1px;
      &.prev {
        transform: translateX(-1px);
      }
      &.next {
        transform: translateX(1px);
      }
    }
  }
}
