// image gallery

@import '../mixins.scss';

// div.wrapper {
//   width: 800px;
//   height: 70vh;
//   background: var(--chlg9);
//   padding: 10px;
//   border-radius: var(--rad2);
// }

div.current-img-wrapper {
  position: relative;
  overflow: hidden;

  width: 100%;
  padding: 10px;
  background: var(--chlg9);
  border-radius: var(--rad2);

  & > img.current {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: scale-down;
  }

  &:hover {
    & > p.current-index-display {
      opacity: 50%;
    }
  }

  & > p.current-index-display {
    position: absolute;
    right: 10px;
    bottom: 10px;

    line-height: 100%;
    padding: 5px;

    border-radius: var(--rad);
    background-color: var(--chlg9);

    opacity: 0;
    transition: opacity 0.25s;
  }
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 60px repeat(7, max-content) 60px;
  grid-template-rows: 120px;

  $pad: 10px;
  margin-top: $pad;
  gap: $pad;

  & li {
    height: 120px;
    width: 120px;

    @include contentCard();
    @include colorfade();

    &.current-img-indicator {
      width: 10px;

      & > div {
        position: relative;
        bottom: 20px;
        height: calc(100% + 20px);
        width: 100%;
        background: var(--chlg9);
        border-radius: var(--rad);
      }
    }

    &.placeholder {
      opacity: 0.5;
      border-color: transparent;
    }

    & > button {
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px;

      background: none;
      border: var(--headshotBorder);
      border-radius: var(--rad);

      @include colorfade();

      &:hover:not(:disabled) {
        border-color: var(--accent);
      }

      &:disabled {
        cursor: default;
        // border-color: transparent;
      }

      & > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
  }
}

div.nav-buttons-wrapper {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 5px;

  height: 120px;

  & > button {
    @include colorfade();
    @include contentCard();
    border: var(--headshotBorder);

    padding: 5px;

    &:hover:not(:disabled) {
      border-color: var(--accent);
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
      border-color: transparent;
    }
  }
}
