// Navbar

@import '../mixins.scss';

@keyframes swapBgBio {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-bio) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
      var(--accent-bio) 50%,
      var(--nav-bg) 50%
    );
  }
}

@keyframes swapBgRes {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-res) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
      var(--accent-res) 50%,
      var(--nav-bg) 50%
    );
  }
}

@keyframes swapBgWrit {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-writ) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
      var(--accent-writ) 50%,
      var(--nav-bg) 50%
    );
  }
}

@keyframes swapBgCode {
  from {
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-code) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  }
  to {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
      var(--accent-code) 50%,
      var(--nav-bg) 50%
    );
  }
}

// hide mobile navigation by default
.drop-nav-btn,
.drop-nav-items { display: none; }

.main-nav-item,
.drop-nav-btn > div,
.drop-nav-item > div {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.main-nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-bg);
  border-bottom: var(--bdr1) solid var(--nav-border);
}

.main-nav-item {
  display: block;
  text-align: center;
  padding: 12px 0;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--nav-text);
  font-weight: var(--theme-weight-adjust-title-text);
  &.mni-bio { width: 56px; };
  &.mni-resume { width: 108px; };
  &.mni-writing { width: 109px; };
  &.mni-code { width: 78px; };
}

.main-nav-item {
  background-position: bottom;
  background-size: 100% 200%;
  -webkit-transition: color .2s, background-position .2s ease-in-out;
     -moz-transition: color .2s, background-position .2s ease-in-out;
       -o-transition: color .2s, background-position .2s ease-in-out;
          transition: color .2s, background-position .2s ease-in-out;
}

.main-nav-item:hover {
  background-position: top;
  color: var(--header-text);
  font-weight: var(--theme-weight-adjust-title-text);
}

.mni-bio.not-prev {
  background-image: linear-gradient(to bottom,
    var(--accent-bio) 50%,
    var(--nav-bg) 50%
  );
}
.mni-resume.not-prev {
  background-image: linear-gradient(to bottom,
    var(--accent-res) 50%,
    var(--nav-bg) 50%
  );
}
.mni-writing.not-prev {
  background-image: linear-gradient(to bottom,
    var(--accent-writ) 50%,
    var(--nav-bg) 50%
  );
}
.mni-code.not-prev {
  background-image: linear-gradient(to bottom,
    var(--accent-code) 50%,
    var(--nav-bg) 50%
  );
}

.main-nav-item.prev {
  &.mni-bio {
    animation: swapBgBio 0s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-bio) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  };
  &.mni-resume {
    animation: swapBgRes 0s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-res) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  };
  &.mni-writing {
    animation: swapBgWrit 0s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-writ) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  };
  &.mni-code {
    animation: swapBgCode 0s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    background-size: 100% 300%;
    background-image: linear-gradient(to bottom,
      var(--accent-code) 33%,
      var(--nav-bg-this-page) 33% 67%,
      var(--nav-bg) 67%
    );
  };
  &:hover {
    background-position: top;
  };
}

.main-nav-item.current {
  cursor: default;
  background-position: center;
  background-size: 100% 300%;
  background-image: linear-gradient(to bottom,
    var(--accent) 33%,
    var(--nav-bg-this-page) 33% 67%,
    var(--nav-bg) 67%
  );
  &:hover {
    background-position: top;
  };
}

// hide default nav and show mobile nav
@media (max-width: 600px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main-nav-item { display: none; }

  .drop-nav { width: 100%; }

  .drop-nav-btn {
    display: block;
    position: relative;
    width: 100%;
    padding: .75rem 1.5rem;
    border: none;
    z-index: 3;
    background: var(--drop-nav-btn-bg);
    cursor: pointer;
  }

  .drop-nav-btn-icon {
    height: 20px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
    & > div {
      height: 4px;
      width: 100%;
      border-radius: var(--rad);
      background: var(--drop-nav-btn-text);
      &:nth-child(2) { margin: 4px 0; };
    };
  }

  .drop-nav-title {
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--drop-nav-btn-text);
  }

  .drop-nav-items {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 2;
    -webkit-transition: top .4s;
       -moz-transition: top .4s;
         -o-transition: top .4s;
            transition: top .4s;
    &.hidden {
      top: -192px;
    };
    &.visible {
      top: 48px;
      border-bottom: var(--x-btn-border);
    };
  }

  .drop-nav-item {
    display: block;
    text-decoration: none;
    background: var(--nav-bg);
    &.current {
      background: var(--nav-bg-this-page);
    };
    & > div {
      display: block;
      padding: .75rem 1.5rem;
      text-decoration: none;
      font-size: 1.25rem;
      color: var(--nav-text);
      font-weight: var(--theme-weight-adjust-title-text);
    };
  }
}