// Tooltip

.ttip-parent {
  position: relative;
  width: max-content;
}

.ttip-parent .ttip {
  z-index: 4;
  background-color: var(--bg);
  border-radius: 10px;
  display: none;
  position: absolute;
  line-height: 0;
  overflow: hidden;
}

.ttip.left,
.ttip.right {
  top: 50%;
  transform: translate(0, -50%);
}

.ttip.left {
  right: 100%;
  margin-right: 0.5rem;
}

.ttip.right {
  left: 100%;
  margin-left: 0.5rem;
}

.ttip.top,
.ttip.bottom {
  left: 0;
  // transform: translate(-25%, 0);
}

.ttip.top {
  bottom: calc(100% + 0.5rem);
}

.ttip.bottom {
  top: calc(100% + 0.5rem);
}

.ttip-parent:hover .ttip {
  display: block;
}

.ttip :not(:first-child) {
  margin-top: 1rem;
}

.ttip > iframe {
  max-width: 80vw;
  height: auto;
  aspect-ratio: 16 / 9;
}
