// Code

@import '../mixins.scss';

.page-wrapper.code > :not(:first-child) {
  margin-top: 1.5rem;
}

.page-wrapper.code > section {
  width: 100%;
}

.code-project {
  padding: 1.25rem 1rem;
  background: var(--res-item-bg);
  box-shadow: var(--boxShadow);
  @include colorfade();
  @include font-adjust();

  & > :not(:first-child):not(.code-project-sec-title) {
    margin-top: 1rem;
  }

  & .code-project-title > :not(:first-child) {
    margin-left: 0.5rem;
  }

  & .code-project-title {
    display: flex;
    align-items: center;
  }

  & .code-project-description > p:not(:first-child) {
    margin-top: 0.5rem;
  }

  // & .code-project-links {
  // display: flex;
  // align-items: center;
  // }

  & .code-project-sec-title {
    margin-top: 1.5rem;
  }

  & .code-project-divider {
    margin-top: 1.5rem;
    @include colorfade();
    background: var(--code-project-divider);
  }
}

$link-fg: var(--cyan5);

.url-pseudo-btn {
  display: flex;
  align-items: center;
  min-width: max-content;
  width: max-content;
  text-decoration: none;

  $t: var(--time);
  // prettier-ignore
  transition:
    color $t,
    background $t,
    border-color $t,
    transform $t;

  & span {
    position: relative;
    @include font-adjust();
    @include colorfade();

    &.displayUrl {
      color: $link-fg;
      margin-left: 0.5rem;
    }
  }

  &.spec:hover {
    cursor: default;
    & > span {
      color: var(--blug4);
    }
  }
}

a.url-pseudo-btn > span {
  position: relative;
}

a.url-pseudo-btn > span.displayUrl::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: $link-fg;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a.url-pseudo-btn:hover > span.displayUrl::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.url-pseudo-btn .svg-icon {
  fill: $link-fg;
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
  // prettier-ignore
  transition:
    color var(--time),
    background var(--time),
    border-color var(--time),
    fill var(--time);
}

.url-pseudo-btn:not(:active):hover .svg-icon {
  fill: var(--btn-fg-hover);
}
