// design page

.page-wrapper.design {
  & > :not(:first-child) {
    margin-top: 3rem;
  }
}

embed.crisis-rules {
  height: 90vh;
  width: 850px;

  border: var(--headshotBorder);
  border-radius: var(--rad3);
}
