// design page

@import '../mixins.scss';

.page-wrapper.design {
  & > :not(:first-child) {
    margin-top: 3rem;
  }

  & > section.content > p {
    text-align: center;
    &:nth-child(2) {
      font-style: italic;
    }
  }
}

embed.crisis-rules {
  height: 90vh;
  width: 850px;

  border: var(--headshotBorder);
  border-radius: var(--rad3);
}
