/* Styles for elements created using `{@html element}` */

/* Code Page */

.svg-wrap.flex {
  display: flex;
}

.url-pseudo-btn .svg-icon {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  margin: 0;
  margin-right: .5rem;
  fill: var(--btn-fg);
  height: 20px;
  width: 20px;
  transition:
    color var(--time),
    background-color var(--time),
    border-color var(--time),
    fill var(--time);
}

.url-pseudo-btn:not(:active):hover .svg-icon {
  fill: var(--btn-fg-hover);
}

/* Bio Page */

.large-text p,
.large-text p em {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.content-70-right > * {
  margin-left: 1rem;
}

@media (max-width: 800px) {
  .content-70-right > * {
    margin-left: 0;
  };
  .content-right-bio :not(:first-child) {
    margin-top: 1rem;
  };
}