// Global

@import './mixins.scss';

// Reset

html, body {
  overflow: auto;
  height: 100%;
}

main {
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

*, *:before, *:after {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

code {
  font-family: 'Fira Code', monospace;
}

button {
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  &:focus { outline: none; };
}

h1,h2,h3,h4,h5,h6,li,ol,p,ul {
  font-style:normal;
  text-decoration:none;
  overflow-wrap: break-word;
  list-style: none;
}

h1,h2,h3,h4,h5,h6{font-weight:400}
h1{font-size:2.5rem}
h2{font-size:2.25rem}
h3{font-size:2rem}
h4{font-size:1.75rem}
h5{font-size:1.5rem}
h6{font-size:1.25rem}

p, ul, ol, li {
  @include font-adjust();
}

// Wrappers

.fixed-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  // background: url('../assets/images/bg-mineral.png');
  background: var(--content-bg);
  background-size: 100% 100vh;
}

.transition-grid-wrapper,
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transition-grid-wrapper {
  display: flex;
  flex: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include colorfade();
  backdrop-filter: blur(10px);
}

.transition-grid {
  display: grid;
}

.transition-wrapper {
  grid-row: 1;
  grid-column: 1;
}

.page-wrapper {
  max-width: 800px;
  margin: 0 1.5rem;

  &.full-width {
    max-width: none;
    margin: 0;
  }
}

// Utility

.headline-text {
  @include colorfade();
  font-size: 1.5rem;
  letter-spacing: .1rem;
  line-height: 2rem;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.styled-code-block {
  @include styledCodeBlock();
}

code:not(.styled-code-block) {
  @include styledInlineCode();
}

// .preload,
// .preload:before {
//   -webkit-transition: none;
//      -moz-transition: none;
//        -o-transition: none;
//           transition: none;
// }
